#body-login {
  background-image: url(asset_from_component('assets/img/background.jpg')) !important;
  background-color: $background-primary-color !important;
  background-repeat: no-repeat;
  background-position: bottom center;

  @media only screen and (max-width: 1200px) {
    background-image: none !important;
  }

  .wrapper {
    margin-top: 20vh;

    main {
      form {
        fieldset {
          margin-top: 0;
        }

        input {
          &:first-child {
            margin-top: 0;
          }
        }
      }

      .lost-password-container {
        margin-top: 0;
      }
    }
  }

  #header {
    .logo {
      visibility: hidden;
      background-image: url(asset_from_component($logo_path)) !important;
      border-bottom: #fff solid 6px;

      @media only screen and (max-width: 1200px) {
        visibility: visible;
      }
    }
  }

  &.login-page-has-form {
    #header {
      max-height: 200px;

      .logo {
        margin-bottom: 0 !important;
        border-bottom: none;
      }
    }
  }
}