@font-face {
  font-family: "Comic Sans MS";
  src: url('assets/fonts/comic-sans-ms/COMIC.TTF');
  font-style: normal;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url('assets/fonts/comic-sans-ms/comici.ttf');
  font-style: italic;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url('assets/fonts/comic-sans-ms/comicz.ttf');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url('assets/fonts/comic-sans-ms/design.graffiti.comicsansmsgras.ttf');
  font-style: normal;
  font-weight: bold;
}