$background-primary-color: #ed8b5e;
$logo_path: 'assets/img/logo.png';
$logo: url($logo_path);
$primary-font: "Comic Sans MS", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, Noto Color Emoji, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;